*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .nav ul{
    position: relative;
    display: flex;
}
header .nav li{
    list-style: none;   
    margin-left: 100px;
}
