body{
    background-image: linear-gradient(135deg, #478cac, #302b70) !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;
}
nav {
    height: 64px !important;
    background-color: #333 !important;
    overflow: hidden !important;
}

nav a {
    float: left;
    display: block !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 20px !important;
    padding: 20px 20px !important;
}

nav a:hover{
    cursor: default !important;
}
.logout {
    float: right !important;
    display: block !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    transition: all 0.7s !important;

}

.logout:hover {
    cursor: pointer !important;
    background-color: #478cac!important;
    color: black !important;

}
h1{
    margin-top: 25px !important;
    color: white !important;
    text-align: center;
}
.table{
    margin-top: 25px;
}
